/* стили компонента Tasks */

.container {
    display: flex;
    flex-direction: column;
    margin: 0px 400px;
}
.header {
    text-align: center;
    color: cornflowerblue;
}
.text {
    text-align: center;
    color: cornflowerblue;
    padding: 5px 10px;
}
.list {
    flex-direction: column;
    align-items: baseline;

    padding: 0
}
.button {
    background-color: cornflowerblue;
    border: 1px solid black;
    color: white;
    padding: 5px;

    cursor: pointer;
}
.buttonFilter {
    flex-basis:100%;
    flex-grow:1;
}
.filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
